extends layout/app
block var 
    - let page_title = "Home";
block content
    .start 
        .start_container 
            .start__author 
                h1 Alisher Shadiyev 
            .start__title 
                h2= site_name 
            .start__social 
                a(href="https://t.me/Алишер Худойназарович") 
                    i.fa-brands.fa-telegram
                a(href="https://facebook.com/Алишер Шадиев") 
                    i.fa-brands.fa-facebook
                a(href="#")
                    i.fa-brands.fa-github